@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,600;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;1,100;1,300;1,400&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Roboto: ital', sans-serif;
	font-size: 24px;
	font-weight: 1,100px;
	margin: 0px;
}
h1, h2, h3 {
	font-family: 'Lora: ital', serif;
	font-weight: 1,700px;
} 
a {
	text-decoration: none;
}
a :hover {
	color: aliceblue;
}